django==3.0.*  # Fix with last django available (or LTS)
# django==2.2.*

django-terra-geocrud[dev]  # install crud backend app with dev tools

# optionnal, if you want to expose API swagger / redoc
drf-yasg

# prod & supervision
gunicorn[gevent]
python-memcached
sentry-sdk
