django==4.0.*  # Fix with last django available (or LTS)

django-terra-geocrud>=1.0.15

# optionnal, if you want to expose API swagger / redoc
drf-yasg

# dev
django-debug-toolbar

# prod & supervision
gunicorn[gevent]
python-memcached
